.dropdown {
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  .padding {
    background-color: white;
    border: 1px #e7e7e7 solid;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 20px 10px 0px;
  }
  ul {
    padding-left: 20px;
    list-style-type: none;
    li {
      padding: 15px;
      cursor: pointer;
      &:hover {
        background-color: #eceff1;
      }
    }
  }
}

.display-dropdown {
  display: block;
}
